.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownButton {
	background-color: #9297a0;
	border: none;
	padding: 5px;
	color: #fff;
	cursor: pointer;
}

.dropDownList {
	position: absolute;
	background-color: #9297a0;
	min-width: 77px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
}

.option {
	text-align: center;
}

/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) { 

	.dropdownButton {
		padding: 15px;
		font-size: 24px;
	}
}