.container {
	width: 900px;
	background-color: #121723;
	margin: 0 auto;
	
	margin-top: 20px;
	padding: 20px;
}

.orderBookHeader {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #fff;
}

.spreadHeader {
	color: #888;
}

.orderBookBody {
	display: flex;
	/* TODO remove this when you finish */
	height: 600px;
}

.buyPrice, .sellPrice {
	flex: 1;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
}

/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) { 

		
}