.button {
	padding: 15px;
	color: #fff;
	border: none;
	cursor: pointer;
}

/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) { 		

	.button {
		width: 40%;
		font-size: 24px;
	}
}