.tableContainer {
	width: 100%;
}

.tableHeader {
	display: flex;
	border-bottom: 3px solid #fff;
	text-transform: uppercase;
	padding: 5px;
}

.tableRow {
	display: flex;
	padding: 5px;
	position: relative;
}

.headerCell {
	flex: 1;
}

.rowCell {
	flex: 1;
}

.depth {
	position: absolute;
    background-color: red;
    height: 100%;
    opacity: 0.1;
}